body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.container-title {
    position: relative;
}

h1 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    display: block;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
}

.main-image {
    display: block;
    height: 40vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: center 21%;
}

nav {
    position: absolute;
    right: 5.5%;
    top: 31%;
}

nav>ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav>ul>li>a {
    margin: 3px;
    padding: 10px;
    background-color: #4270c5;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    filter: drop-shadow(2px 5px 5px #222);
}

nav>ul>li>a:hover {
    background-color: #70ad46;
}

h2 {
    text-align: center;
    margin-top: 0;
    width: 90vw;
    height: 35px;
    margin: auto;
    border-style: solid;
    border-width: 1px;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

.main {
    display: flex;
    width: 90vw;
    margin: auto;
    padding-bottom: 60px;
}

.logo {
    margin-top: 25px;
    height: 120px;
    width: 120px;
    margin-right: 60px;
    filter: drop-shadow(2px 5px 5px #222);
}

.text {
    margin-top: 40px;
}

.text>h4 {
    margin: 0 0 5px 0;
}

.text>p {
    margin: 0 0 15px 0;
}

.textindent {
    text-indent: 2rem;
}

.top-heading {
    margin: 10px 175px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules-content {
    margin: 0%;
    margin-top: 50px;
    padding: 0%;
}

.rules-content>h4 {
    margin: 20px 0 10px 0;
}

.ol-IHF {
    margin: 0%;
    padding: 0%;
}

.ol-IHF>li {
    margin-bottom: 20px;
    list-style-position: inside;
}

.ol-IHF>li::marker {
    font-weight: bold;
}

.ol-IHF>li>span {
    font-weight: bold;
}

.ul-IHF {
    margin: 0%;
    padding: 0%;
}

.ul-IHF>li {
    list-style-type: lower-alpha;
}

.ul-allplay {
    list-style-type: circle;
    list-style-position: inside;
    margin: 0;
    padding-left: 40px;

}


table {
    margin: 40px 0;
}
th, td {
    padding: 5px 40px 5px 0px;
    text-align: left;
    vertical-align:middle;
}

p > span {
    font-weight: bolder;
}

.gameinfo-display {
    margin-top: 35px;
}

.gameinfo-display > h3 {
    margin: 0;
    padding: 0 0 20px 200px ;
    font-size: 32px;
}
.gameinfo-display > h4 {
    margin-top: 0%;
    font-style: italic;
}
.gameinfo-display > h5 {
    font-style: italic;
    text-decoration: underline;
}

.gameinfo-display > p {
    padding-bottom: 15px;
}
.date {
    text-align: right;
}

.september {
    padding: 5px 25px 5px 0px
}

.gameinfo-div1 {
    padding: 20px 350px 20px 0;
}

.gameinfo-div1 > p {
    padding-bottom: 15px;
}

.gameinfo-div2 {
    display: flex;
}

.gameinfo-div2 > p {
    padding-right: 180px;
}